.headerCharacters {
	width: 70%;
	margin: 0 auto;
	background-color: #565961;
	color: #ffffff;
	border-radius: 10px;
	margin-top: 30px;
	font-size: 18px;
	padding: 20px 40px;
}

.characterInformation {
	display: flex;
	padding: 10px 0 10px 0;
	border-bottom: 4px double #ffffff;
}
 
.statusCharacter, 
.speciesCharacter, 
.genderCharacter {
	width: 232px;
	text-align: center;
}

.nameCharacter {
	width: 232px;
}

@media (max-width: 700px) {
	.characterInformation {
		font-size: 12px;
	}
}

@media (max-width: 500px) {
	.headerCharacters {
		width: 95%;
		padding: 10px 20px;
	}
}