.headerEpisodes {
	width: 70%;
	margin: 0 auto;
	background-color: #565961;
	color: #ffffff;
	border-radius: 10px;
	margin-top: 30px;
	font-size: 18px;
	padding: 20px 40px 20px 40px;
}

.episodesInformation {
	display: flex;
	justify-content: space-between;
	padding: 10px 0 10px 0;
	border-bottom: 4px double #ffffff;
}

.nameEpisode {
	width: 309px;
}

.airDateEpisode,
.episodeNumber {
	width: 309px;
	text-align: center;
}

@media (max-width: 700px) {
	.episodesInformation {
		font-size: 12px;
	}
}

@media (max-width: 500px) {
	.headerEpisodes {
		width: 95%;
		padding: 10px 20px;
	}
}