.headerEpisodes {
	width: 70%;
	margin: 0 auto;
	background-color: #565961;
	color: #ffffff;
	border-radius: 10px;
	margin-top: 30px;
	font-size: 18px;
	padding: 20px 40px 20px 40px;
}

.episodesInformation {
	display: flex;
	justify-content: space-between;
	padding: 10px 0 10px 0;
	border-bottom: 4px double #ffffff;
}