.headerLocationInfo {
	width: 40%;
	margin: 0 auto;
	background-color: #565961;
	color: #ffffff;
	border-radius: 10px;
	margin-top: 30px;
	font-size: 18px;
	padding: 40px;
}

.divWithNameLocation {
	font-size: 28px;
}

.divWithTypeLocation {
	font-size: 22px;
	margin: 15px 0 5px 0;
}

.residents {
	font-size: 22px;
	margin-bottom: 5px;
}