.headerEpisodeInfo {
	width: 40%;
	margin: 0 auto;
	background-color: #565961;
	color: #ffffff;
	border-radius: 10px;
	margin-top: 30px;
	font-size: 18px;
	padding: 40px;
}

.divWithNameEpisode {
	font-size: 28px;
}

.divWithAirDateEpisode {
	font-size: 22px;
	margin-top: 15px;
}

.divWithEpisode  {
	font-size: 22px;
	margin: 15px 0 5px 0; 
}

.characters {
	font-size: 22px;
	margin-bottom: 5px;
}

@media (max-width: 1000px) {
	.headerEpisodeInfo {
		width: 60%;
	}
}

@media (max-width: 660px) {
	.headerEpisodeInfo {
		width: 80%;
	}

	.divWithNameEpisode {
		font-size: 20px;
	}

	.divWithAirDateEpisode,
	.divWithEpisode,
	.characters,
	.allCharacters {
		font-size: 16px;
	}
}

@media (max-width: 400px) {
	.headerEpisodeInfo {
		width: 95%;
		padding: 20px;
	}
	
	.divWithNameEpisode {
		font-size: 18px;
	}
}