.divWithPagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.divWithPage, .pageSwitch {
	padding: 8px 16px;
	cursor: pointer;
	border-radius: 5px;
	max-width: 40px;
	max-height: 40px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.divWithPage:not(.threeDotsStyle):not(.selected):hover {
	background-color: #dddddd;
	color: #1A1A1A;
}

.pageSwitch:hover {
	background-color: #dddddd;
	color: #1A1A1A;
}

.selected {
	background-color: #171717;
	color: #ffffff;
}


