.headerСharacterInfo {
	width: 60%;
	margin: 0 auto;
	background-color: #565961;
	color: #ffffff;
	border-radius: 10px;
	margin-top: 30px;
	font-size: 18px;
	padding: 40px;
	display: flex;
	justify-content: flex-start;
}

.infoAboutСharacter {
	margin-left: 20px;
}

.imgCharacter {
	border-radius: 10px;
	filter: drop-shadow(0 0 5px #ffffff)
}

.infoAboutСharacter {
	font-size: 22px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.imgCharacterWithEpisodes p {
	font-size: 22px;
	margin: 5px 0;
}

.nameСharacter {
	font-size: 28px;
}

@media (max-width: 990px) {
	.imgCharacter {
		width: 200px;
		height: 200px;
	}

	.headerСharacterInfo {
		padding: 20px;
	}

	.infoAboutСharacter {
		height: 200px;
	}
}

@media (max-width: 755px) {
	.nameСharacter {
		font-size: 18px;
	}

	.infoCharacter {
		font-size: 13px;
	}

	.imgCharacterWithEpisodes p {
		font-size: 13px;
	}
}

@media (max-width: 633px) {
	.headerСharacterInfo {
		width: 80%;
	}
}

@media (max-width: 500px) {
	.imgCharacter {
		width: 150px;
		height: 150px;
	}

	.infoAboutСharacter {
		height: 150px;
	}

	.headerСharacterInfo {
		width: 95%;
	}
}
